{% extends 'blog/base.html' %}


{% block content %}

    <style>
        table {
            align: center;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: center;
            align="center"
        }

        tr:nth-child(even) {background-color: #f2f2f2}
    </style>


    <div class="container without-background" id="flatpage">
        <div id="value" class="row">
            <br class="col-md-12">
            <h1>Схема расположения квартир дома</h1>

            {% comment %}
                {% lorem 2 w random %}
                <br>
                It is {% now "jS F Y H:i" %}
                <br>
                It is the {% now "jS \o\f F" %}
                {{ value|date:"D d M Y" }} {{ value|time:"H:i" }}
                {{ flats|unordered_list }}
            {% endcomment %}


            <table border="2">

            <tr>
                <th colspan="2">Стояк1</th>
                <th colspan="4">Стояк2</th>
                <th colspan="4">Стояк3</th>
                <th colspan="4">Стояк4</th>
                <th colspan="4">Стояк5</th>
                <th colspan="4">Стояк6</th>
                <th colspan="4">Стояк7</th>
                <th colspan="2">Стояк8</th>
            </tr>

            {% for item in flats %}

                {% if forloop.first %}
                    <tr padding="5px">
                    <td>КухняЛев</td>
                {% endif %}

                <td>{{ item }}</td>

                {% if forloop.counter|divisibleby:floors %}

                    <td padding="5px">КухняПрав</td>

                    </tr>
                    <tr padding="5px">

                    {% if forloop.last %}
                    {% else %}
                        <td>КухняЛев</td>
                    {% endif %}

                {% endif %}

                {% if forloop.last %}
                    </tr>
                {% endif %}

            {% endfor %}
            </table>



        {% comment %}
            <table>
                {% for item in flats %}
                    {% cycle 'row' '' as row silent %}
                    {% if row %}<tr>{% endif %}
                        <td>
                            {{ item }}
                        </td>
                    {% if not row %}</tr>{% endif %}
                {% endfor %}
            </table>
        {% endcomment %}



        {% comment %}

            <table>
            {% for row in flats|floors:2 %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>



            <table>
            {% for row in flats %}
                <tr>
                    <td>{{ row }}</td>
                </tr>
            {% endfor %}
            </table>

        {% endcomment %}


        </div>
    </div>
{% endblock %}
