{% extends 'blog/base.html' %}


{% block content %}
    <div class="container without-background" id="flatpage">
          <div id="value" class="row">
              <br class="col-md-12">
                  <h1>Городская диспетчерская служба "1562"</h1>
                  телефоны 1562, (057)760-70-62

                  <h1>Аварийно-диспетчеркие службы "Харьковводоканал"</h1>
                  водоснабжение (057)712-08-40, 734-91-53 </br>
                  водоотведение (057)704-14-46, 704-14-47 </br>

                  <h1>Аварийно-диспетчеркие службы КП "ХТС"</h1>
                  (057)733-16-23</br>

                  <h1>Куда сообщать показания электросчётчика</h1>
                  телефоны (099)909-95-90, (067)252-43-68



              </div>
          </div>
    </div>
{% endblock %}
