{% extends 'blog/base.html' %}


{% block content %}
    <div class="container without-background" id="flatpage">
          <div id="value" class="row">
              <br class="col-md-12">
                  <h1>Городская диспетчерская служба "1562"</h1>
                  телефоны 1562, (057)760-70-62
                  <h1>Горячая вода</h1>
                  диспетчер района (0572)97-70-54 </br>
                  диспетчер участка (057)732-74-68 (наш участок №25, мастер Медведева Алла, начальник Клочко Павел Алексеевич)</br>
                  Начальник над нашим участком (0572) 97-81-38 Юрова Валентина Васильевна</br>
                  <h1>Аварийная служба (вода)</h1>
                  (057)721-31-61 </br>
                  (057)721-31-77 </br>
                  <h1>Канализация</h1>
                  (057)732-78-79 с 8 до 17, пер.12-13</br>

              </div>
          </div>
    </div>
{% endblock %}
