{% extends 'blog/base.html' %}

{% block content %}
<div class="container">

    <div class="post">

        {% if user.is_authenticated %}

            <div class="date">
                {% if post.published_date %}
                    {{ post.published_date }}
                {% else %}
                    <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
            </div>

            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>

        {% autoescape off %}
            {% if post.link %}
                {{ post.link|linebreaks }}
            {% endif %}
        {% endautoescape %}

    </div>

    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Оставить свой коментарий</a>

    {% for comment in comments %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}

                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}

                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>

            {% autoescape off %}
                {% if comment.html %}
                    {{ comment.html|linebreaks }}
                {% endif %}
            {% endautoescape %}

        </div>
        {% endif %}
    {% empty %}
        <p>Пока не было коментариев :(</p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if comments.has_previous %}
                <a href="?page={{ comments.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                &nbsp;  &nbsp;  &nbsp; Страница {{ comments.number }} из {{ comments.paginator.num_pages }} &nbsp;  &nbsp;  &nbsp;
            </span>

            {% if comments.has_next %}
                <a href="?page={{ comments.next_page_number }}">следующая</a>
            {% endif %}
        </span>
    </div>

</div>
{% endblock %}



