
{% extends 'advert/base_advert.html' %}


{% block adv_content %}
<div class="container">

    <div class="advert">

        {% if user.is_authenticated %}

            <div class="date">
                {% if advert.published_date %}
                    {{ advert.published_date }}
                {% else %}
                    <a class="btn btn-default" href="{% url 'advert.views.post_publish' pk=advert.pk %}">Publish</a>
                {% endif %}
            </div>

            <a class="btn btn-default" href="{% url 'advert_edit' pk=advert.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'advert_remove' pk=advert.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}

        advert.check_expired

        <h1>{{ advert.title }}</h1>
        <p>{{ advert.text|linebreaks }}</p>

        {% autoescape off %}
            {% if advert.link %}
                {{ advert.link|linebreaks }}
            {% endif %}
        {% endautoescape %}

    </div>

    <hr>

</div>
{% endblock %}



