{% extends 'advert/base_advert.html' %}




{% block content %}
<div class="container">

    <br>
    <p>Pекламные объявления нашего дома публикуются бесплатно на период 14 дней, после чего удаляются.<p>
    <p>Для подачи объявления обращайтеcь к вебмастеру на почту:

    <h4>plechan121@gmail.com</h4><p>
    <br>


    {% for advert in adverts %}
        <div class="advert">

            <div class="date">
                {{ advert.published_date }}
            </div>
            <h1><a href="{% url 'advert_detail' pk=advert.pk %}">{{ advert.title }}</a></h1>
            <p>{{ advert.text|linebreaks }}</p>
            <p>{{ advert.text|truncatechars:400 }}</p>

{% comment "Optional note" %}
            <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Коментариев: {{ post.comments.count }}</a>
            <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
{% endcomment %}

        </div>
    {% endfor %}


    <div class="pagination">
        <span class="step-links">
            {% if adverts.has_previous %}
                <a href="?page={{ adverts.previous_page_number }}"><h4>предыдущая</h4></a>
            {% endif %}

            <span class="current">
                &nbsp;  &nbsp;  &nbsp; <h4>Страница {{ adverts.number }} из {{ adverts.paginator.num_pages }}</h4> &nbsp;  &nbsp;  &nbsp;
            </span>

            {% if adverts.has_next %}
                <a href="?page={{ adverts.next_page_number }}"><h4>следующая</h4></a>
            {% endif %}
        </span>
    </div>

</div>
{% endblock content %}




